<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BrilliantCms</title>
    <%= stylesheet_link_tag    "brilliant_cms/application", media: "all" %>
    <%= javascript_include_tag "brilliant_cms/application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="../assets/js/ie8-responsive-file-warning.js"></script>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>NProgress.start();</script>
  </head>
  <body class="nav-md">
    <% if user_signed_in? %>
      <div class="container body">
        <div class="main_container">
          <div class="col-md-3 left_col">
            <%= render 'layouts/brilliant_cms/sidemenu' %>
          </div>
          <%= render 'layouts/brilliant_cms/topbar' %>
          <div class="right_col" role="main">
            <%= yield %>
            <%= render 'layouts/brilliant_cms/footer' %>
          </div>
          <%= render 'layouts/brilliant_cms/notifications' %>
        </div>
      </div>
      <%= javascript_include_tag "brilliant_cms/data/load" %>
    <% else %>
      <%= yield %>
    <% end %>
    <script>NProgress.done();</script>
  </body>
</html>
